/* Color Theme Swatches in Hex */
$Abstract-white-red-against-dark-background-1-hex: #D92332;
$Abstract-white-red-against-dark-background-2-hex: #F27983;
$Abstract-white-red-against-dark-background-3-hex: #1C2326;
$Abstract-white-red-against-dark-background-4-hex: #A61414;
$Abstract-white-red-against-dark-background-5-hex: #591616;

/* Color Theme Swatches in RGBA */
$Abstract-white-red-against-dark-background-1-rgba: rgba(216,34,49, 1);
$Abstract-white-red-against-dark-background-2-rgba: rgba(242,121,131, 1);
$Abstract-white-red-against-dark-background-3-rgba: rgba(27,35,38, 1);
$Abstract-white-red-against-dark-background-4-rgba: rgba(165,19,19, 1);
$Abstract-white-red-against-dark-background-5-rgba: rgba(89,22,22, 1);

/* Color Theme Swatches in HSLA */
$Abstract-white-red-against-dark-background-1-hsla: hsla(354, 72, 49, 1);
$Abstract-white-red-against-dark-background-2-hsla: hsla(354, 82, 71, 1);
$Abstract-white-red-against-dark-background-3-hsla: hsla(196, 16, 12, 1);
$Abstract-white-red-against-dark-background-4-hsla: hsla(0, 78, 36, 1);
$Abstract-white-red-against-dark-background-5-hsla: hsla(0, 59, 21, 1);

/* Color Theme Swatches in Hex */
$Coral-Purple-1-hex: #ED4057;
$Coral-Purple-2-hex: #C20033;
$Coral-Purple-3-hex: #821B36;
$Coral-Purple-4-hex: #5C002F;
$Coral-Purple-5-hex: #39002D;

/* Color Theme Swatches in RGBA */
$Coral-Purple-1-rgba: rgba(237,63,86, 1);
$Coral-Purple-2-rgba: rgba(193,0,50, 1);
$Coral-Purple-3-rgba: rgba(130,26,53, 1);
$Coral-Purple-4-rgba: rgba(91,0,46, 1);
$Coral-Purple-5-rgba: rgba(56,0,44, 1);

/* Color Theme Swatches in HSLA */
$Coral-Purple-1-hsla: hsla(352, 82, 59, 1);
$Coral-Purple-2-hsla: hsla(344, 100, 38, 1);
$Coral-Purple-3-hsla: hsla(344, 65, 30, 1);
$Coral-Purple-4-hsla: hsla(329, 100, 18, 1);
$Coral-Purple-5-hsla: hsla(312, 100, 11, 1);

/* Color Theme Swatches in Hex */
$RoadTrip-guatemala-1-hex: #8C141E;
$RoadTrip-guatemala-2-hex: #260108;
$RoadTrip-guatemala-3-hex: #223F59;
$RoadTrip-guatemala-4-hex: #F21616;
$RoadTrip-guatemala-5-hex: #F22E2E;

/* Color Theme Swatches in RGBA */
$RoadTrip-guatemala-1-rgba: rgba(140,19,29, 1);
$RoadTrip-guatemala-2-rgba: rgba(38,0,7, 1);
$RoadTrip-guatemala-3-rgba: rgba(33,63,89, 1);
$RoadTrip-guatemala-4-rgba: rgba(242,21,21, 1);
$RoadTrip-guatemala-5-rgba: rgba(242,46,46, 1);

/* Color Theme Swatches in HSLA */
$RoadTrip-guatemala-1-hsla: hsla(354, 75, 31, 1);
$RoadTrip-guatemala-2-hsla: hsla(348, 96, 7, 1);
$RoadTrip-guatemala-3-hsla: hsla(208, 44, 24, 1);
$RoadTrip-guatemala-4-hsla: hsla(0, 89, 51, 1);
$RoadTrip-guatemala-5-hsla: hsla(0, 88, 56, 1);

/* Color Theme Swatches in Hex */
$Up---Down-1-hex: #D9D9D9;
$Up---Down-2-hex: #BFBFBF;
$Up---Down-3-hex: #A6A6A6;
$Up---Down-4-hex: #404040;
$Up---Down-5-hex: #0D0D0D;

/* Color Theme Swatches in RGBA */
$Up---Down-1-rgba: rgba(216,216,216, 1);
$Up---Down-2-rgba: rgba(191,191,191, 1);
$Up---Down-3-rgba: rgba(165,165,165, 1);
$Up---Down-4-rgba: rgba(63,63,63, 1);
$Up---Down-5-rgba: rgba(12,12,12, 1);

/* Color Theme Swatches in HSLA */
$Up---Down-1-hsla: hsla(0, 0, 85, 1);
$Up---Down-2-hsla: hsla(0, 0, 75, 1);
$Up---Down-3-hsla: hsla(0, 0, 65, 1);
$Up---Down-4-hsla: hsla(0, 0, 25, 1);
$Up---Down-5-hsla: hsla(0, 0, 5, 1);