/* Color Theme Swatches in Hex */
$Abstract-white-red-against-dark-background-1-hex: #D92332;
$Abstract-white-red-against-dark-background-2-hex: #F27983;
$Abstract-white-red-against-dark-background-3-hex: #1C2326;
$Abstract-white-red-against-dark-background-4-hex: #A61414;
$Abstract-white-red-against-dark-background-5-hex: #591616;

/* Color Theme Swatches in RGBA */
$Abstract-white-red-against-dark-background-1-rgba: rgba(216,34,49, 1);
$Abstract-white-red-against-dark-background-2-rgba: rgba(242,121,131, 1);
$Abstract-white-red-against-dark-background-3-rgba: rgba(27,35,38, 1);
$Abstract-white-red-against-dark-background-4-rgba: rgba(165,19,19, 1);
$Abstract-white-red-against-dark-background-5-rgba: rgba(89,22,22, 1);

/* Color Theme Swatches in HSLA */
$Abstract-white-red-against-dark-background-1-hsla: hsla(354, 72, 49, 1);
$Abstract-white-red-against-dark-background-2-hsla: hsla(354, 82, 71, 1);
$Abstract-white-red-against-dark-background-3-hsla: hsla(196, 16, 12, 1);
$Abstract-white-red-against-dark-background-4-hsla: hsla(0, 78, 36, 1);
$Abstract-white-red-against-dark-background-5-hsla: hsla(0, 59, 21, 1);