@import 'colors.scss';
body {
    background-color: $Abstract-white-red-against-dark-background-3-hex
}
#menu_navbar {
    background-color: $Abstract-white-red-against-dark-background-1-hsla;   
    max-width: 20%;
    ul{
        background: $Abstract-white-red-against-dark-background-2-hsla;
        position: relative;
        padding: 8%;
        right: 3%;
        a {
            color: $Abstract-white-red-against-dark-background-4-hsla
        
        }
        li{
        
            background-color: $Abstract-white-red-against-dark-background-4-hex
        }&:hover{
            color: $Abstract-white-red-against-dark-background-2-hsla

        }
    } 
}
