@import 'colors.scss';
body {
    background-color: $Abstract-white-red-against-dark-background-3-hex;
    font-family: Maven Pro; 
}
#menu_navbar {
    background-color: $Abstract-white-red-against-dark-background-1-hsla;
    position: fixed;
    right: 80%;
    width: 20%;
    height: 100%;
    top: 0;

    ul{
        position: relative;
        padding: 1%;
        list-style-type: none;
        border-radius: 4px;

        a {
            color: $Abstract-white-red-against-dark-background-3-rgba;

        }
        li{
            background-color: $Abstract-white-red-against-dark-background-4-hex;
            position: relative;
            margin: 3%;
            height: 40px;
            border-radius: 4px;
            box-shadow: -5px -10px 30px $Coral-Purple-1-rgba, 6px 9px 15px $Coral-Purple-3-rgba;
            -webkit-box-shadow: -5px -10px 30px $Coral-Purple-1-rgba, 6px 9px 15px $Coral-Purple-3-rgba;
            -moz-box-shadow: -5px -10px 30px $Coral-Purple-1-rgba, 6px 9px 15px $Coral-Purple-3-rgba;
            transition: 6ms;
            a {
                color: $RoadTrip-guatemala-3-hex;
                
            }&:hover{
                a {
                    color: $RoadTrip-guatemala-2-hex;
                  
                }
        
            }&:hover{
                width: 95%;
            }
        }
    }
}


@media screen and (max-width: 850px) {
    #menu_navbar {
        display: none;
    }
  }
